asgiref==3.2.10
certifi==2020.6.20
chardet==3.0.4
dj-database-url==0.5.0
Django==3.1
django-heroku==0.3.1
future==0.18.2
gunicorn==20.0.4
idna==2.10
Pillow==7.2.0
psycopg2==2.8.5
python-http-client==3.2.7
pytz==2020.1
requests==2.24.0
sqlparse==0.3.1
starkbank-ecdsa==1.0.0
urllib3==1.25.10
django-admin-interface==0.16.3
